{% extends '::base.html.twig' %}

{% block content -%}
    <h1>{{ (entity ~ '.name')|trans({}, 'conditions') }}</h1>

    {% if (entity ~ '.shortdesc')|trans({}, 'conditions') != entity ~ '.shortdesc' %}
        <p><em>{{ (entity ~ '.shortdesc')|trans({}, 'conditions')|raw }}</em></p>
    {% endif %}
    {% if (entity ~ '.longdesc')|trans({}, 'conditions') != entity ~ '.longdesc' %}
        <p>{{ (entity ~ '.longdesc')|trans({}, 'conditions')|raw }}</p>
    {% endif %}

    <ul class="record_actions">
    <li>
        <a href="{{ path('conditions') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('conditions_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
