{% extends '::base.html.twig' %}
{% form_theme form _self %}

{% block content -%}
    <div class="container">
        <h1>Sleep</h1>
        {{ form_start(form) }}
        {{ form_row(form.preparedSpells) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}

{%- block choice_widget_options -%}
    {% for group_label, choice in options %}
        {%- if choice is iterable -%}
            <optgroup
                    label="{{ choice_translation_domain is same as(false) ? group_label : group_label|trans({}, choice_translation_domain) }}">
                {% set options = choice %}
                {{- block('choice_widget_options') -}}
            </optgroup>
        {%- else -%}
            {% set attr = choice.attr %}
            <option value="{{ choice.value }}" {{ block('attributes') }}{% if choice is selectedchoice(value) %} selected="selected"{% endif %}>{{ (choice.data|pftrans) }}</option>
        {%- endif -%}
    {% endfor %}
{%- endblock choice_widget_options -%}
